header.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.5rem;
  padding: 1rem 0;
  min-height: 5rem;
}

.headerSearch {
  display: flex;
  font-size: 1.5rem;
  gap: 0.75rem;
  width: 50%;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
}

.headerSearch input {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  height: auto;
  font-size: 1.25rem;
}

.header--user {
  display: flex;
  height: 100%;
  gap: 1rem;
  font-size: 1.5rem;
  align-items: center;
}

.setting {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  border: solid 0.2rem #e9e8e8;
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
}

.notification {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  border: solid 0.2rem #e9e8e8;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
}

.user--img {
  display: flex;
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

@media (min-width: 426px) {
  .menu {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
}
@media (max-width: 425px) {
  .notification,
  .setting {
    display: none;
  }
}
