.staredSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.staredSection .dataList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
}

.staredSection .dataList .headList {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.staredSection .dataList .headList p {
  /*   padding: 0 1rem; */
}
