.typefile {
  background-color: #f5f5f5;
  width: calc(100% / 3);
  height: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.typefile i {
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

.typefile p {
  font-size: 1.3rem;
  font-weight: 600;
}

.typefile .progressBar {
  width: 100%;
  height: 0.75rem;
  background-color: #bebebe;
  border-radius: 1rem;
}

.progression {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statistic {
  display: flex;
  gap: 1rem;
}

.statistic p {
  font-size: 1rem;
  font-weight: 500;
}

.statistic span {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .typefile {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .typefile {
    width: 100%;
  }
}
