.homeSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2.5rem;
}

.sectionTop {
  display: flex;
  width: 100%;
  gap: 2%;
}

.sectionBottom {
  display: flex;
  gap: 2%;
  flex-grow: 1;
  margin-top: 1.5rem;
}

.recentFiles {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

.filesSelected {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 32%;
}

.filesSelected a {
  text-decoration: none;
}

@media (max-width: 425px) {
  .homeSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0rem;
  }
}

@media (max-width: 768px) {
  .sectionTop {
    display: flex;
    width: 100%;
    gap: 2%;
    flex-direction: column;
  }

  .homeSection {
    gap: 1rem;
    flex-direction: column-reverse;
  }
}
