aside {
  display: flex;
  flex-direction: column;
  /*   width: 20rem; */
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5.5rem;
}

.logo svg {
  font-size: 3.5rem;
  padding: 0.5rem;
  background-color: #362fd9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.sideContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

form {
  display: flex;
  width: 100%;
  height: 4rem;
  margin-top: 2.5rem;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 1rem;
  background-color: #362fd9;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  gap: 0.5rem;
}

label span {
  display: flex;
}

main.sideMain {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

main.sideMain ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.active {
  display: flex;
  align-items: center;
  width: fit-content;
  height: auto;
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: #362fd9;
  color: white !important;
  cursor: pointer;
  font-size: 1.5rem;
  gap: 0.5rem;
}

main.sideMain ul a {
  display: flex;
  height: auto;
  font-size: 1.5rem;
  margin-top: 3rem;
  gap: 0.75rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 1024px) {
  label {
    width: 75%;
  }
}
