.dateList {
  margin-top: 3rem;
}

.mainList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  /* max-height: 15rem; */
  overflow: auto;
  margin-bottom: 1rem;
}

.file {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.4rem;
  border-bottom: solid 0.5px grey;
  margin-top: 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  width: 10rem;
}

.iconName {
  display: flex;
  gap: 0.5rem;
  width: 10rem;
  align-items: center;
}

.iconName .icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateCreat,
.size {
  width: 10rem;
}

.headList {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  font-size: 1.25rem;
}

.headList p {
  display: flex;
  width: 10rem;
}
