@media (min-width: 426px) {
  .modalContent {
    display: none;
  }
}

.modalContent {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

aside.sidFit {
  padding-left: 1rem;
  background-color: white;
}
