.starredFiles i {
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

.archivedFiles i {
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

.starredFiles,
.archivedFiles {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
}

.typographie {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: black;
}

.typographie p {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .starredFiles,
  .archivedFiles {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }

  .typographie {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    color: black;
    font-size: 0.8rem;
  }
  .starredFiles i {
    width: 4rem;
  }
}

@media (max-width: 970px) {
  .sectionBottom {
    display: flex;
    flex-direction: column-reverse;
  }
  .filesSelected {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    /*     gap: 1.5rem; */
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sectionBottom {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .filesSelected {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
  }
}
