.archiveicon {
  font-size: 1.5rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #cd0404;
  color: white;
  cursor: pointer;
}

.archiveicon i {
  display: flex;
}

.archiveicon i svg {
  font-size: 1.2rem;
}
