.layout {
  display: flex;
  height: 100%;
  padding: 0 1rem;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2rem;
}

.mainLayoutContent {
  display: flex;
  width: 95%;
  flex-grow: 1;
}

@media (max-width: 425px) {
  .sidLarge {
    display: none !important;
  }

  .mainLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-left: 0rem;
  }
}
