header.headerMainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  height: 4rem;
}

.logoMainContent {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.logoMainContent i {
  display: flex;
  width: 3.75rem;
  height: 80%;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  border-radius: 1rem;
  color: white;
}

h1 {
  font-size: 3rem;
}

.sortMainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 9rem;
  gap: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: white;
}

.sortMainContent i {
  display: flex;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.7rem;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 1.7rem;
  }
}
